body{
  background-color: rgb(8 31 13 / 88%);
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.box-container{
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-grow: 1;
padding: 1rem;
}

textarea{
resize:none;
outline: none;
border: 1px solid rgb(39 112 55 / 88%);
background-color: #182b2f;
color: #b1a8a8;
padding:1rem;
}

label{
color: #baa6a6;
}

.layout{
display: flex;
flex-direction: column;
flex: 1;

}
.output{
padding-left: 1rem;
flex-grow: 1;
background-color: beige; 
}

.dragger {
  cursor: ns-resize;
  user-select: none;
  width: 100%; ;
  background-color: #ccc;
  height:4px ;
  position: relative;
  border: 0.5px solid rgb(109, 106, 106);
}